@mixin min-breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin max-breakpoint($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin transition-bg-text-color() {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@mixin transition-bg-color() {
  transition: background-color 0.5s ease;
}

@mixin transition-text-color() {
  transition: color 0.5s ease;
}
