.filter_bar_container {
  --padding: 1rem;

  height: 5rem;

  padding: var(--padding);
  border-radius: var(--border-radius);

  background: var(--container-bg-color);

  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr auto auto auto;
  gap: 1.5rem;
}

.separator {
  position: relative;
  top: 0;

  border: 0;

  width: 2px;
  height: calc(100% + var(--padding) * 2);

  background: hsla(var(--clr-neutral-600), 0.2);
}
