:root {
  --clr-primary-300: 235, 82%, 77%;
  --clr-primary-400: 235, 69%, 61%;
  --clr-primary-800: 219, 29%, 14%;
  --clr-primary-900: 219, 29%, 10%;

  --clr-neutral-100: 0, 0%, 100%;
  --clr-neutral-300: 217, 26%, 97%;
  --clr-neutral-400: 215, 24%, 80%;
  --clr-neutral-500: 212, 23%, 69%;
  --clr-neutral-600: 214, 17%, 51%;

  --clr-primary-300-hsl: hsl(var(--clr-primary-300));
  --clr-primary-400-hsl: hsl(var(--clr-primary-400));
  --clr-primary-800-hsl: hsl(var(--clr-primary-800));
  --clr-primary-900-hsl: hsl(var(--clr-primary-900));

  --clr-neutral-100-hsl: hsl(var(--clr-neutral-100));
  --clr-neutral-300-hsl: hsl(var(--clr-neutral-300));
  --clr-neutral-400-hsl: hsl(var(--clr-neutral-400));
  --clr-neutral-500-hsl: hsl(var(--clr-neutral-500));
  --clr-neutral-600-hsl: hsl(var(--clr-neutral-600));

  --ff-regular: "Kumbh Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --backdrop-z-index: 10;
  --modal-z-index: 100;

  --header-height: 8.5rem;
  --border-radius: 6px;
  --container-width: min(90%, 69.375rem);
  --page-bg-color: var(--clr-neutral-300-hsl);
  --heading-color: var(--clr-primary-800-hsl);
  --container-bg-color: var(--clr-neutral-100-hsl);
  --input-placeholder-color: hsla(var(--clr-primary-800), 0.5);
  --input-text-color: var(--clr-primary-800-hsl);
  --checkbox-bg-color: hsla(var(--clr-primary-800), 0.1);

  --text-color: var(--clr-neutral-600-hsl);
  --secondary-button-text-color: var(--clr-primary-400-hsl);
  --secondary-button-bg-color: hsla(var(--clr-primary-400), 0.1);
  --secondary-button-hover-bg-color: hsla(var(--clr-primary-400), 0.35);
  --spinner-bg-color: var(--clr-neutral-400-hsl);
  --spinner-color: var(--clr-neutral-600-hsl);
}

[data-theme="dark"] {
  --page-bg-color: var(--clr-primary-900-hsl);
  --heading-color: var(--clr-neutral-100-hsl);
  --container-bg-color: var(--clr-primary-800-hsl);
  --input-placeholder-color: hsla(var(--clr-neutral-100), 0.5);
  --input-text-color: var(--clr-neutral-100-hsl);
  --checkbox-bg-color: hsla(var(--clr-neutral-100), 0.1);

  --text-color: var(--clr-neutral-500-hsl);
  --secondary-button-text-color: var(--clr-neutral-100-hsl);
  --secondary-button-bg-color: hsla(var(--clr-neutral-100), 0.1);
  --secondary-button-hover-bg-color: hsla(var(--clr-neutral-100), 0.35);
  --spinner-bg-color: var(--clr-neutral-600-hsl);
  --spinner-color: var(--clr-neutral-300-hsl);
}
