@use "../../../sass/abstracts/" as *;

.main {
  --padding-top: 6.125rem;

  padding-top: var(--padding-top);

  position: relative;

  display: grid;
  grid-template-rows: calc(
    100vh - var(--header-height) - var(--padding-top) - 2rem
  );
}

.main_filter_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.virtuoso_grid {
  display: grid;
  margin-top: 1.5625rem;
  column-gap: clamp(0.5rem, 0.01578rem + 2.066vw, 1.875rem);
  row-gap: clamp(3rem, 2.62594rem + 1.596vw, 4.0625rem);

  @include min-breakpoint(375px) {
    grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  }
}
