@use "/sass/abstracts/" as *;

.company_container {
  padding: 2rem;
  padding-top: 3rem;

  position: relative;

  background: var(--container-bg-color);

  border-radius: var(--border-radius);

  text-align: center;

  @include transition-bg-text-color();

  @include min-breakpoint(768px) {
    height: 8.75rem;
    padding: 0;
    text-align: initial;

    display: grid;
    grid-template-columns: auto 1fr;
  }

  .company_details_logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin-inline: auto;

    transform: translateY(-50%);

    @include min-breakpoint(768px) {
      position: initial;
      margin: 0;

      width: 8.75rem;
      height: 8.75rem;

      border-top-right-radius: initial;
      border-bottom-right-radius: initial;

      transform: initial;

      > img {
        width: 80px;
      }
    }
  }
}

.info_container {
  display: grid;
  gap: 1.75rem;

  @include min-breakpoint(768px) {
    padding-inline: 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: initial;

    > a {
      width: auto;
    }
  }
}

.heading_container {
  display: grid;
  gap: 0.2rem;
}

.site {
  overflow-wrap: anywhere;
}

.company_name {
  color: var(--heading-color);
  font-size: clamp(1.25rem, 1.16188rem + 0.376vw, 1.5rem);
  font-weight: var(--fw-bold);

  @include transition-text-color();
}
