@use "../../../sass/abstracts/" as *;

.modal {
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);

  width: min(90%, 20.4375rem);
  height: min-content;

  margin: auto;

  border-radius: var(--border-radius);

  display: none;

  background: var(--container-bg-color);
  @include transition-bg-color();
}

.open {
  display: block;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: var(--backdrop-z-index);
  display: none;

  background: hsla(0, 0%, 0%, 0.5);
}

.show_backdrop {
  display: block;
  width: auto;
  height: auto;
}
