.header {
  padding-block: 2rem;
  background-image: url("/mobile/bg-pattern-header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 8.5rem;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
