@use "/sass/abstracts/" as *;

.text_field_container {
  display: flex;
  align-items: center;
  gap: 1rem;

  > svg {
    flex-shrink: 0;
  }
}

.text_field {
  width: 100%;

  border: 0;
  background: transparent;

  color: var(--input-text-color);
  @include transition-text-color();

  font-size: 1rem;
  font-weight: var(--fw-regular);

  &::placeholder {
    color: var(--input-placeholder-color);
    @include transition-text-color();
  }
}
